{% extends 'sentiment_analysis/base.html' %}
{% load staticfiles %}
{% block title %}About Us{% endblock %}
{% block header_assets %}{% endblock %}
{% block container %}
    <div class="container">
        <div class="row">
             <div class="col-sm-12 col-md-8">
                <h2>About Us</h2>
                <p>The difference between success and failure is a great team.
                    Coming together is a beginning. Keeping together is progress.
                    Working together is success."
                    "The best teamwork comes from men who are working independently toward one goal in unison.
                    The strength of the team is each individual member. The strength of each member is the team
                    we are team 1 & we should be the first ...</p>
              </div>
            <div class="col-sm-12 col-md-4">
                <img class="auto-fit" src="{% static 'sentiment_analysis/imgs/photo_2017-06-26_14-19-52.jpg' %}" alt="image">
            </div>
        </div>
    </div>
{% endblock %}
