{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Feely{% endblock %}</title>
    {% block header_assets %}
        {# high charts #}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
    {% endblock %}
    {# styels and bootstrap #}
    <link rel="stylesheet" href="{% static 'sentiment_analysis/styles/reset.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{% static 'sentiment_analysis/bootstrap-form-helpers/css/bootstrap-formhelpers.min.css' %}">
    <link rel="stylesheet" href="{% static 'sentiment_analysis/styles/index.css' %}">

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'sentiment_analysis:index' %}">Feely</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'sentiment_analysis:about' %}">About Us</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
</nav>

<div class="container">
    <div class="row">
        {% block container %}
            <!-- your page content -->
            <div id="pichart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        {% endblock %}
    </div>
</div>

<footer>
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © CSED 2017. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>

</body>

{# jquery #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'sentiment_analysis/bootstrap-form-helpers/js/bootstrap-formhelpers.min.js' %}"></script>
<script>
    /**
     * Created by ahmed on 1/7/2017.
     */
    $(function () {

        Highcharts.chart('pichart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: "Data for Date: " + new Date().toJSON().slice(0, 10).replace(/-/g, '/')
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Feeling',
                colorByPoint: true,
                data: [{
                    name: 'Happy',
                    y: {{ data.happy }},
                    sliced: true,
                    selected: true
                }, {
                    name: 'Love',
                    y: {{ data.love }}
                }, {
                    name: 'Sad',
                    y: {{ data.sad }}
                }, {
                    name: 'Hopeful',
                    y: {{ data.hopeful }}
                }, {
                    name: 'Angry',
                    y: {{ data.angry }}
                }, {
                    name: 'Hate',
                    y: {{ data.hate }}
                }, {
                    name: 'Natural',
                    y: {{ data.neutral }}
                }, {
                    name: 'Hopeless',
                    y: {{ data.hopeless }}
                }
                ]
            }]
        });
    });

    /*
     1 = happy
     2 = love
     3 = hopeful
     4= nutral
     5 = angry
     6 = hopeless
     7 = hate
     8 = sad
     */
</script>
{# bootstrap #}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</html>